﻿@model william_hill_tech_challenge.Models.CustomersModel

@{
    ViewBag.Title = "William Hill Tech Challenge";
}

<div class="row">
    <a class="btn btn-default" href="@Url.Action("Index", new { Settled = true })">
        Settled
    </a>
    <a class="btn btn-default" href="@Url.Action("Index", new { Settled = false })">
        Unsettled
    </a>
    <a class="btn btn-primary" href="#">
        Customers
    </a>
</div>
<div class="row">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Flags</th>
                <th>Customer Id</th>
                <th>Number Bets</th>
                <th>Number Wins</th>
                <th>Total Stake Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr class="@(customer.Risky ? "back-red" : "")">
                    <td>@Html.Raw(customer.Risky ? "<div><span class='red glyphicon glyphicon-stop'></span> Risky</div>" : "")</td>
                    <td>@customer.Customer.CustomerId</td>
                    <td>@customer.Customer.NumBets</td>
                    <td>@customer.Customer.NumWins</td>
                    <td>$@customer.Customer.TotalBetValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>
