﻿@model william_hill_tech_challenge.Models.HomeModel

@{
    ViewBag.Title = "William Hill Tech Challenge";
}

<div class="row">
    <a class="btn @(Model.Settled ? "btn-primary" : "btn-default")" href="@(!Model.Settled ? Url.Action("Index", new { Settled = true }) : "#")">
        Settled
    </a>
    <a class="btn @(!Model.Settled ? "btn-primary" : "btn-default")" href="@(Model.Settled ? @Url.Action("Index", new { Settled = false }) : "#")">
        Unsettled
    </a>
    <a class="btn btn-default" href="@Url.Action("Customers")">
        Customers
    </a>
</div>
<div class="row">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Flags</th>
                <th>Customer Id</th>
                <th>Event Id</th>
                <th>Participant Id</th>
                <th>Stake</th>
                <th>@(Model.Settled ? "Win" : "To Win")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bet in Model.Bets)
            {
                <tr class="@(bet.Risky ? "back-red" : bet.HighlyUnusual ? "back-orange" : bet.Unusual ? "back-yellow" : bet.LargeBet ? "back-gray" : "")">
                    <td>
                        @Html.Raw(bet.Risky ? "<div><span class='red glyphicon glyphicon-stop'></span> Risky</div>" : "")
                        @Html.Raw(bet.HighlyUnusual ? "<div><span class='orange glyphicon glyphicon-stop'></span> Highly Unusual</div>" :
                            bet.Unusual ? "<div><span class='yellow glyphicon glyphicon-stop'></span> Unusual</div>" : "")
                        @Html.Raw(bet.LargeBet ? "<div><span class='gray glyphicon glyphicon-stop'></span> Large Bet</div>" : "")
                    </td>
                    <td>@bet.Bet.CustomerId</td>
                    <td>@bet.Bet.EventId</td>
                    <td>@bet.Bet.ParticipantId</td>
                    <td>$@bet.Bet.Stake</td>
                    <td>$@bet.Bet.WinValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>
